# Build artifacts
*.deb
*.changes
*.buildinfo
*.dsc
*.tar.gz
*.tar.xz

# Debian build directories
debian/bitwarden-cli/
debian/.debhelper/
debian/files
debian/debhelper-build-stamp

# Build dependencies
clients/
node_modules/

# Temporary files
*.orig
*~
